* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #faf7f7;
  color: #100f0f;
}

/* Header Section */
#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(15, 14, 14);
  font-size: 20px;
}

a:hover {
  color: #095faf;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar .logo a {
  font-weight: bold;
  font-size: 2.5rem;
  color: #0e0d0d;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .links li a {
  display: inline-block;
  padding: 10px 20px;
  border-bottom: 1px solid #ff004f;
  border-radius: 5px;
  transition: color 0.3s, border-color 0.3s;
}

.navbar .links li a:hover {
  color: #000000;
  border-color: #ff004f;
  background: #e25a85;
}

.navbar .toggle_btn {
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(19, 19, 19);
  display: none;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu ul {
  padding: 0;
  margin: 0;
}

.dropdown_menu ul li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dropdown_menu.open {
    display: block;
  }
}

.container {
  padding: 10px 10%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #ff004f;
}

/* About me Section */
#about {
  padding: 80px 0;
  color: #0c0c0c;
  background-image: url(images/newback5.png);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
  max-width: 100%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 20px;
}

.about-col-2 {
  flex-basis: 60%;
  font-size: 18px;
  margin-top: 20px;
  padding-left: 20px;
}

.about-col-2 p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
}

.sub-title {
  font-size: 40px;
  font-weight: 600;
  color: #ff004f;
}

.tab-titles {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 20px 0 40px;
  font-size: 24px;
  color: #ff004f;
}

.tab-links {
  font-size: 25px;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #b54769;
  font-size: 20px;
  font-weight: bolder;
}


/* My Work Section */
#portfolio {
  padding: 50px 0;
  background-image: url(images/newback5.png);
}

.work-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(241, 238, 238, 0.6), #151415);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  font-size: 15px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.layer a {
  margin-top: 10px;
  color: #da9fb1;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 15px;
  border: 2px solid #da9fb1;
  border-radius: 5px;
  transition: background 0.5s, color 0.5s;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 20px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 30px;
  border-radius: 6px;
  text-decoration: none;
  color: #0e0e0e;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff004f;
}

/* Contact Me Section*/
#contact {
  padding: 80px 0;
  background-image: url(images/newback5.png);
}

.contact-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-left h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #101010;
}

.contact-left p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p i {
  color: #009dff;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
  text-decoration: none;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #0c0c0c;
  display: inline-block;
  transition: transform 0.5px;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  color: #fff;
  background-color: #000000;
}

.btn.btn2:hover {
  background: #ff004f;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: calc(100% - 30px);
  box-sizing: border-box;
  border: 0;
  outline: none;
  background: #e89ac5;
  padding: 15px;
  margin: 15px 0;
  color: #050505;
  font-size: 18px;
  border-radius: 6px;
}

.form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  flex: 1;
  text-align: center;
  padding: 25px 0;
  background: #f0eded;
  font-weight: 300;
  margin-top: 20px;
}

.back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.back-to-top-btn:hover {
  background-color: #555;
}

.back-to-top-btn i {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .header-text {
    margin-top: 10%;
  }

  .header-text h1 {
    font-size: 30px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
    text-align: center;
  }

  .about-col-1 img {
    max-width: 50%;
  }

  .services-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .work-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

#msg {
  color: #ff004f;
  margin-top: -5px;
  display: block;
}

@media (max-width: 768px) {
  .about-col-1 img {
    max-height: 300px;
  }
}

@media (max-width: 768px) {
  .about-img {
    display: none;
  }
}

@media (max-width: 477px) {
  .tab-title {
    font-size: 14px;
    padding: 5px 10px;
  }

  .tab {
    white-space: nowrap;
  }
}
